.projects 
  min-height: 100vh
  overflow: hidden
  padding: 6vw
  position: relative
  &::after
    content: ""
    position: absolute
    bottom: -20vh
    right: -50vw
    transform: rotate(-26deg) 
    height: 30vh
    width: 100vw
    background-color: $color-dark
    z-index: -1
  h2
    margin: 5vh 0
    color: $color-dark
    font-size: 2em
    text-align: center
  p
    color: #aaa
    padding: 4vw 3vh
    @media(orientation: landscape)
      padding: 4vw 10vw
  .filters
    display: flex
    justify-content: space-around
    height: 20vh
    width: 100%
    flex-wrap: wrap
    @media(orientation: landscape)
      height: 20vh
    .icon-filter
      width: 12vw
      max-height: 10vw
      margin: 0 1vw
      background-repeat: no-repeat
      background-position: center
      background-size: contain
      cursor: pointer
      transition: .3s
      @media(orientation: landscape)
        width: 6vw
        max-width: 60px
        margin: 0
  .projects-examples  
    display: flex
    flex-direction: column
    align-content: center
    justify-content: space-between
    list-style: none
    padding: 5vh 5vw
    max-width: 1024px
    margin: 0 auto
    @media(orientation: landscape) and (min-width:731px)
        flex-direction: row
        flex-wrap: wrap
        padding: 0
        justify-content: space-between
    .project
      min-height: 50vh
      position: relative
      @media(orientation: landscape) and (min-width:731px)
        width: 40vw
        max-width: 500px
        padding: 0 1vw
      a 
        display: block
        height: 100%
        text-decoration: none
        color: black
        margin: 5vh auto 0 
        @media(orientation: landscape) and (min-width:731px)
          width: 100%
          height: auto
        h3
          margin-bottom: 5vh
          padding: 2vh 0
          text-align: center
          font-weight: normal
          text-transform: uppercase
          border-bottom: 2px solid black
          border-top: 2px solid black
        img 
          width: 100%
          box-sizing: border-box
          border: 5px solid white
          box-shadow: 3px 3px 10px black
          border-radius: 7px
          cursor: pointer
          transition: .3s
          margin-bottom: 3vh 
        img:hover
          transform: scale(1.05)
      .github
        position: absolute
        left: 90%
        bottom: 3vh
        height: 5vh
        margin: 5vh auto 0 
        img 
          height: 100%
          width: auto
          border: none
          box-shadow: none
          border-radius: 0
      .used
        display: flex
        justify-content: flex-start
        height: 8vh
        flex-wrap: wrap
        margin-left: 5vw
        width: 70%
        .used-icon
          width: 9vw
          height: 9vw
          margin-left: -5vw
          background-repeat: no-repeat
          background-position: center
          background-size: contain
          transition: .5s
          @media(orientation: landscape)
            height: auto
            width: 4vw
            max-width: 60px
            margin-left: -30px
      .used:hover > .used-icon
        margin-left: 1vw
        @media(orientation: landscape)
          margin-left: 3px
 
 
.allProjectsOff
  display: none
.allProjectsOff.on 
  display: block
  min-height: 50vh 
  text-align: center
  font-size: 1.5em

.filters:hover .icon-filter:not(:hover) 
  opacity: 0.5
.icon-filter.on
  transform: scale(1.3) translateY(-10%)
.project.off
  display: none

      

      