@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&subset=latin-ext')
  
body 
  width: 100vw
  overflow-x: hidden


*, *::before, *::after
  box-sizing: border-box
  margin: 0
  padding: 0

ul
  list-style: none



html
  font-size: 16px
  font-family: 'Titillium Web', sans-serif
  @media (min-height: 667px)
    font-size: 20px
  @media (min-height: 1024px)
    font-size: 30px 
  @media (min-height: 1366px)
    font-size: 40px 
  @media (orientation: landscape) and (min-width: 736px)
    font-size: 18px
  @media (orientation: landscape) and (min-width: 1024px)
    font-size: 24px
  @media (orientation: landscape) and (min-width: 1366px)
    font-size: 34px

@import "_variables.sass"
@import "_header.sass"
@import "_aboutMe.sass"
@import "_projects.sass"
@import "_footer.sass"

.go-up.on
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  bottom: 5vh
  left: 50%
  transform: translateX(-50%)
  height: 10vh
  width: 10vh
  max-height: 70px
  max-width: 70px
  // font-size: 7vh
  background-color: $color-light
  border: 4px solid $color-dark
  border-radius: 50%
  transition: .5s
  opacity: .5
  cursor: pointer
.go-up.on:hover
  opacity: 1